html{
    background-color: white;
}

body{
    background-color: white;

}

.col-sm-4{
    background-color: white;
}

a{
    color: #dfdeee;
}
.btn:hover{
    color: whitesmoke;
    background-color: #129aa1;
}



.img1{
    width: 80%;
}

.btn {
    border: 0;
    background: #0c787d;
    color: #dfdeee;
    border-radius: 7px;
    width: 120px;
    height: 30px;
    font-size: 16px;
    transition: 0.3s;
    cursor: pointer;
    margin-top: 20px;
    text-decoration: none;
  }

  form{
    align-items: center;
  }

  .bar {
    align-items: center;
  }